---
layout: archive
permalink: /year-archive/
title: "Blog"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
{% for post in site.posts %}
  {% assign words = post.content | strip_html | number_of_words %}
  {% assign minutes = words | divided_by: site.words_per_minute | at_least: 1 %}
<div class="exp__item">
  <div class="exp__head">
    <h2 class="exp__org"><a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a></h2>
    <span class="exp__dates">{{ post.date | date: "%b %-d, %Y" }}</span>
  </div>
  <p class="exp__meta">{{ minutes }} min read{% if post.tags.size > 0 %} &middot; {{ post.tags | join: ", " }}{% endif %}</p>
</div>
{% endfor %}
