{% include base_path %}

<div class="exp__item">
  <div class="exp__head">
    <h2 class="exp__org"><a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a></h2>
    {% if post.duration %}<span class="exp__dates">{{ post.duration }}</span>{% endif %}
  </div>
  <p class="exp__meta">{{ post.venue }}{% if post.location %} &middot; {{ post.location }}{% endif %}</p>
  {% if post.summary %}<p class="exp__summary">{{ post.summary }} <a class="exp__more" href="{{ base_path }}{{ post.url }}">More</a></p>{% endif %}
</div>
