{% include base_path %}

<div class="pub__item">
  {% if post.header.teaser %}
    <div class="pub__thumb">
      <a href="{{ base_path }}{{ post.url }}">
        <img src="{{ post.header.teaser | prepend: '/images/' | prepend: base_path }}" alt="{{ post.title }}">
      </a>
    </div>
  {% endif %}

  <div class="pub__body">
    <h2 class="pub__title"><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></h2>
    {% if post.venue %}<p class="pub__venue">{{ post.venue }}</p>{% endif %}
    {% if post.excerpt %}<p class="pub__excerpt">{{ post.excerpt | markdownify | strip_html | strip_newlines | truncate: 260 }}</p>{% endif %}
    <p class="pub__links">
      <a href="{{ base_path }}{{ post.url }}">Details</a>
      {% if post.paperurl %} &middot; <a href="{{ post.paperurl }}">Paper</a>{% endif %}
    </p>
  </div>
</div>
